@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1>Elkay Coding Assignment</h1>
    <h3 class="font-weight-normal">Josh Hoffman</h3>
    <h6 class="font-weight-light">Email: hoffmanjoshua@comcast.net</h6>
    <hr/>
    <p>This assignment submission is a website that allows users to insert, edit, and delete people from a database.<br />
        The project was made in Visual Studio 2019, with a template of ASP.NET core MVC web application.<br />
        The database is a SQL database hosted through Azure, created and accessed using Entity Framework Core.<br />
        The website, developed in C# using the .NET Core 3.1 framework, is styled with Bootstrap and deployed to the cloud with Azure.<br />
        <br />
        The code repository can be found <a class="text-danger" href="https://github.com/jhoffman5/Elkay-Coding-Assignment">here</a>.<br />   
    </p>
</div>
